html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    height: auto;
    left: 0px;
    width: auto;
    margin-left: 0px;
}

li.nav-item {
    display: block;
    padding: 6px 12px;
}

select {
    padding: 10px;
    margin: 0 20px;
}

.select img {
    float: left;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}

.row {
    display: flex;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #3986c7;
}