@page
@model Tron.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
</div>

<h2>Our network:</h2>
<div class="row">
  <div class="column">
      <a href="https://www.abertis.com/home/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Abertis.svg"
        alt="Abertis"
        style="width:230px;height:46.7px">
      </a>
  </div>
  <div class="column">
    <a href="https://www.asecap.com/">
        <img src="https://asecap.com/images/asecap-logo.png#joomlaImage://local-images/asecap-logo.png?width=353&height=99"
        alt="ASECAP"
        style="width:230px;height:46.7px">
    </a>
  </div>
  <div class="column">
    <a href="https://www.aodos.gr/">
        <img src="https://upload.wikimedia.org/wikipedia/el/4/43/%CE%91%CF%84%CF%84%CE%B9%CE%BA%CE%AE_%CE%9F%CE%B4%CF%8C%CF%82.svg"
        alt="Attiki Odos"
        style="width:230px;height:46.7px">
    </a>
  </div>
  <div class="column">
      <a href="https://www.autostrade.it/it/home">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Autostrade_per_l%27Italia_logo.svg"
        alt="Autostrade per l'Italia"
        style="width:230px;height:46.7px">
      </a>
  </div>
  <div class="column">
      <a href="https://www.cnadnr.ro/">
        <img src="https://upload.wikimedia.org/wikipedia/ro/2/29/Logocnadnr.jpg"
        alt="CNADNR"
        style="width:30%">
      </a>
  </div>
  <div class="column">
      <a href="https://www.gov.pl/web/gddkia">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Generalna_Dyrekcja_Dr%C3%B3g_Krajowych_i_Autostrad.png"
        alt="GDDKiA"
        style="width:100%">
      </a>
  </div>
  <div class="column">
    <a href="https://www.hac.hr/hr">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Hrvatske_autoceste_logo.svg"
        alt="Hrvatske autoceste"
        style="width:230px;height:46.7px">
    </a>
  </div>
  <div class="column">
      <a href="https://rosavtodor.gov.ru/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Emblem_of_Federal_Road_Agency.svg"
        alt="Rosavtodor"
        style="width:100px;height:100px">
      </a>
  </div>
  <div class="column">
      <a href="https://www.rsd.cz/" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/%C5%98SD_logo.svg"
        alt="ŘSD – ČR"
        style="width:250px">
      </a>
  </div>
  <div class="column">
      <a href="https://www.sanef.com/index.html">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/df/SANEF.png"
        alt="SANEF"
        style="width:230px">
      </a>
  </div>
  <div class="column">
      <a href="https://en.wikipedia.org/wiki/Soci%C3%A9t%C3%A9_des_Autoroutes_de_Paris_Normandie">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a5/SAPN.png"
        alt="SAPN"
        style="width:150px">
      </a>
  </div>
  <div class="column">
      <a href="https://www.sftrf.fr/">
        <img src="https://www.sftrf.fr/wp-content/themes/nouveloeil/assets/images/logo.svg"
        alt="SFTRF"
        style="width:230px">
      </a>
  </div>
</div>