@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="title">Welcome</h1>
    <br /><br /><br />
    <h2 id="select">Select your language:</h2>
    <select class='select'>
        <option value="en">🇬🇧&nbsp;English</option>
        <option value="el">🇬🇷&nbsp;Ελληνικά</option>
        <option value="cs">🇨🇿&nbsp;Čeština</option>
        <option value="de">🇩🇪&nbsp;Deutsch</option>
        <option value="es">🇪🇸&nbsp;Español</option>
        <option value="fr">🇫🇷&nbsp;Français</option>
        <option value="hr">🇭🇷&nbsp;Hrvatski</option>
        <option value="it">🇮🇹&nbsp;Italiano</option>
        <option value="pl">🇵🇱&nbsp;Polski</option>
        <option value="ro">🇷🇴&nbsp;Română</option>
        <option value="ru">🇷🇺&nbsp;Русский язык</option>
    </select>

    <h3 id="subti">Welcome to the official website of TRON (Toll Road Network).</h3>
    <p id="pargr">Lorem ipsum dolor sit amet consectetur. Quod, esse!</p>
</div>
