@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<p><i>All rights reserved by their respective owner:</i>
    <br />La marca "abertis" está sujeta al derecho del Reino de España.
    <br />ASECAP is a European brand.
    <br />Το λογότυπο της «ΑΤΤΙΚΗ ΟΔΟΣ Α.Ε.» υπόκειται στη νομοθεσία της Ελληνικής Δημοκρατίας.
    <br />La marca "Autostrade per l'Italia'" è soggetta alle leggi della Repubblica Italiana.
    <br />Compania Națională de Administrare a Infrastructurii Rutiere (CNADNR) intră sub incidența legislației Regatului României.
    <br />Generalna Dyrekcja Dróg Krajowych i Autostrad (GDDKiA) podlega przepisom prawa Rzeczpospolitej Polski.
    <br />Hrvatske autoceste d.o.o. podliježe pravu Republike Hrvatske.
    <br />Росавтодор подпадает законам Российской Федерации.
    <br />Ředitelství Silnic a Dálnic (ŘSD – ČR) se řídí právem České republiky.
    <br />La marque de la Société des Autoroutes du Nord et de l'Est de la France (SANEF) est soumise aux lois de la République Française.
    <br />La marque de la Société des Autoroutes Paris–Normandie (SAPN) est soumise aux lois de la République Française.
    <br />La marque de la Société française du tunnel routier du Fréjus (SFTRF) est soumise aux lois de la République Française.
</p>